---
import LayoutNav from '../layouts/Layout-nav.astro';
const titlePage = "Servicios";
---


<LayoutNav class="bg-[radial-gradient(125%_125%_at_50%_10%,#131a22_60%,#2ab092_150%)] h-min-screen" title={titlePage}>
  <section class="flex flex-col lg:flex-row justify-center items-center px-6 lg:px-40 lg:py-20">
    <h1 class="text-white text-4xl md:text-6xl lg:text-7xl mt-4 font-medium text-center">
   {titlePage}
    </h1>
  </section>
    
    
</LayoutNav>