---
const Logos = [
    {
        src: "https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg",
        alt: "Google Logo",
        link: "https://www.google.com"
    },
     {
        src: "https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg",
        alt: "Google Logo",
        link: "https://www.google.com"
    },
     {
        src: "https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg",
        alt: "Google Logo",
        link: "https://www.google.com"
    },
     {
        src: "https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg",
        alt: "Google Logo",
        link: "https://www.google.com"
    },
     {
        src: "https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg",
        alt: "Google Logo",
        link: "https://www.google.com"
    },
     {
        src: "https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg",
        alt: "Google Logo",
        link: "https://www.google.com"
    },
];


---

<div class="w-full overflow-hidden bg-white">
  <div
    class="group flex w-max animate-logo-scroll gap-12
           hover:[animation-play-state:paused]"
  >
    <!-- Logos (duplicados para loop continuo) -->
    {Logos.map((logo) => (
      <img
        src={logo.src}
        alt={logo.alt}
        class="h-24 w-auto opacity-70 saturate-0 hover:saturate-100
               transition-all duration-100"
      />
    ))}
    {Logos.map((logo) => (
      <img
        src={logo.src}
        alt={logo.alt}
        class="h-24 w-auto opacity-70 saturate-0 hover:saturate-100
               transition-all duration-100"
      />
    ))}
  </div>
</div>

